<div class="layout">
    <!-- Sidebar -->
    <nav class="sidebar">
      <!-- <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/devices">Ver Dispositivos</a></li>
        <li><a routerLink="/manage-devices">Gestionar Dispositivos</a></li>
        <li><a routerLink="/roles">Gestionar Roles</a></li>
      </ul> -->
      <!-- <ul>
        <li (click)="navigateTo('home')">Inicio</li>
        <li (click)="navigateTo('devices')">Ver Dispositivos</li>
        <li (click)="navigateTo('manage-devices')">Gestionar Dispositivos</li>
        <li (click)="navigateTo('manage-roles')">Gestionar Roles</li>
      </ul> -->
    </nav>
  
    <!-- Contenido Dinámico -->
    <div class="content">
      <header class="top-bar">
        <div class="user-info">
          <span class="material-icons user-icon">account_circle</span>
          <span>{{ username }}</span>
          <button (click)="logout()">Logout</button>
        </div>
      </header>
      <!-- <router-outlet></router-outlet> -->
    </div>
  </div>
  